<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Patchwerk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Patchwerk.Properties.Settings>
            <setting name="DeleteIntermediate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Compress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnixShellScript" serializeAs="String">
                <value>True</value>
            </setting>
        </Patchwerk.Properties.Settings>
    </userSettings>
</configuration>